<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-form-layout width="555px" margin-left> 
   <vaadin-text-field caption="Marka" input-prompt="Wpisz markę" width="380px" _id="make"></vaadin-text-field> 
   <vaadin-text-field caption="Model" input-prompt="Wpisz model" width="381px" _id="model"></vaadin-text-field> 
   <vaadin-native-select caption="Status" item-caption-mode="id" width="185px" _id="status"></vaadin-native-select> 
   <vaadin-popup-date-field caption="Data Przyjęcia" _id="checkInDate"></vaadin-popup-date-field> 
   <vaadin-horizontal-layout spacing> 
    <vaadin-button style-name="primary" plain-text _id="save">
      Zapisz 
    </vaadin-button> 
    <vaadin-button style-name="danger" plain-text _id="delete">
      Usuń 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-form-layout>  
 </body>
</html>